In [6]:
import numpy as np
import pandas as pd

import requests
from bs4 import BeautifulSoup

In [7]:
def get_web_page(url):
    resp = requests.get(url)
    resp.encoding = 'utf-8'
    
    if resp.status_code != 200:
        print('Invalid url:', resp.url)
        return None
    else:
        return resp.text

In [ ]:
    if __name__ == "__main__":
        url='https://www.vgchartz.com/games/games.php?page&results=57652&name=&console=&keyword=&publisher=&genre=&order=CriticScore&ownership=Both&boxart=Both&banner=Both&showdeleted=&region=All&goty_year=&developer=&direction=DESC&showtotalsales=0&shownasales=0&showpalsales=0&showjapansales=0&showothersales=0&showpublisher=1&showdeveloper=0&showreleasedate=1&showlastupdate=1&showvgchartzscore=1&showcriticscore=1&showuserscore=1&showshipped=1&alphasort=&showmultiplat=No.html'
        rate_df = pd.read_html(url)[7] # 7 refers to the table index of this page
        rate_page = get_web_page(url)
        soup = BeautifulSoup(rate_page, 'html.parser')
        rate_list = soup.find_all('tr')[27:57679] # table rows for storing the rates
        odd_trs = soup.find_all('tr', style='background-image:url(../imgs/chartBar_large.gif); height:70px')
        even_trs = soup.find_all('tr', style='background-image:url(../imgs/chartBar_alt_large.gif); height:70px')
        
        games_name= []
        VGChartz_Score = []
        Critic_Score = []
        User_Score = []
        
        for data in rate_list:
            row = data.find_all('td', align='center')
            VGChartz_Score.append(row[1].text.strip())
            Critic_Score.append(row[2].text.strip())
            User_Score.append(row[3].text.strip())
            
        for i in range(len(odd_trs)):
            odd_game_name = odd_trs[i].find('td', style='font-size:12pt;').text.strip()
            even_game_name = even_trs[i].find('td', style='font-size:12pt;').text.strip()
    
            games_name.append(odd_game_name)
            games_name.append(even_game_name)     
   
        rate_df = pd.DataFrame({
            'Game_Name': games_name,
            'VGChartz_Score': VGChartz_Score,
            'Critic_Score': Critic_Score,
            'User_Score': User_Score
        })

In [49]:
outputpath='遊戲評分.xlsx'
rate_df.to_excel(outputpath,index=False,header=False)

In [45]:
rate_df.head()

          Game_Name VGChartz_Score Critic_Score User_Score
0  Final Fantasy II            N/A         10.0        N/A
1       Final Fight            N/A         10.0        N/A
2   Forza Horizon 4            N/A         10.0        N/A
3   Fusion: Genesis            N/A         10.0        N/A
4         Minecraft            N/A         10.0        N/A

In [50]:
pd.read_excel('遊戲評分.xlsx')

                               Final Fantasy II  N/A  10.0  N/A.1
0                                   Final Fight  NaN  10.0    NaN
1                               Forza Horizon 4  NaN  10.0    NaN
2                               Fusion: Genesis  NaN  10.0    NaN
3                                     Minecraft  NaN  10.0    NaN
4         Red Dead Redemption: Undead Nightmare  NaN  10.0    NaN
..                                          ...  ...   ...    ...
244               Pok�mon Gold / Silver Version  NaN   9.2    NaN
245                                   Max Payne  NaN   9.2    NaN
246                            Skies of Arcadia  NaN   9.2    NaN
247  Super Smash Bros. Brawl    Read the review  9.2   9.2    9.7
248                      All-Star Baseball 2001  NaN   9.2    NaN

[249 rows x 4 columns]

[<td align="center">
 <img alt="PC" src="/images/consoles/PC_b.png"/>
 </td>,
 <td align="center">N/A  </td>,
 <td align="center">9.6  </td>,
 <td align="center">N/A  </td>,
 <td align="center">1.29m</td>,
 <td align="center" width="75">21st Aug 07  </td>,
 <td align="center" width="75">20th Jul 18</td>]

'The Legend of Zelda: A Link to the Past'